{% extends 'index.html' %}

{% block content %}
<h1>
    Posts
</h1>

  <form action="/posts/" method="GET">
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Search">
  </form>

  <a href="?order=title" method="GET">Title</a>
  <a href="?order=-title" method="GET">-Title</a>
  <a href="?order=created_at" method="GET">Date</a>
  <a href="?order=-created_at" method="GET">-Date</a>

    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.rate }}</p>
            {% for hashtag in post.hashtags.all %}
                <a href="#" class="btn btn-primary">#{{ hashtag.title }}</a>
            {% endfor %}
          <a href="/posts/{{ post.id }}/" class="btn btn-primary">More</a>
        </div>
      </div>
    {% endfor %}

    <div style="margin;">
    {% for page in pages %}
        <a href="?page={{ page }}" method="GET"><h1>{{ page }}</h1></a>
    {% endfor %}
  </div>
{% endblock %}